.Login-Container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Login {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	
}

.Login-Input {
	border: 2px solid #87a6ed;
	background-color: #202733;
	padding: 8px 15px;
	border-radius: 30px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

#Login-Button {
	margin-left: 60px;
}

#Login-Sub h2 {
	margin-top: -20px;
	margin-bottom: 40px
}

.Login-Button input {
	flex: 1;
	padding: 6px 10px;
}

#Login-Box {
	border: 2px solid #3a4e7e;
	background-color: #202733;
	padding: 45px;
	border-radius: 24px;
}

#output {
	margin-left: 280px;
}
