.popup-setup {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 2000;
}

.popup-setup hr {
	border: none;
	height: 4px;
	background-color: #87a6ed;
}

.popup {
	background: #8894b4;
	box-sizing: border-box;
	border-radius: 32px;
	border: 3px solid #7D8DD7;
	position: relative;
	width: 610px;
	height: 610px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	z-index: 2001;
	
}

.popup button {
	position: absolute;
	bottom: 10px;
	right: 275px;
}

.popup b {
	color: #ddd;
}

.popup p {
	color: #424e70;
}

#Vault-Header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#Vault-Header h1 {
	margin-left: 15px;
	margin-top: 20px;
}

#Vault-Header p {
	position: absolute;
	margin-left: 20px;
	margin-top: 90px;
}

#Vault-Header input {
	position: absolute;
	margin-top: 35px;
	right: 140px;
        border: 2px solid #87a6ed;
        background-color: #202733;
        padding: 8px 15px;
        border-radius: 30px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
	width: 200px;
	height: 20px;
}

#Vault-Header button {
	margin-right: 30px;
}

.vault-entry {
	position: relative;
	width: 50%;
	margin: 10px;
	padding: 15px;
	border-radius: 10px;
	background-color: #637092;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.vault-entry:hover:not(:has(button:hover)) {
	background-color: #57617a;
}

.vault-entry button {
	position: absolute;
	background: #AE2F4C;
	color: #f1f1f1;
	border-color: transparent;

	top: 0;
	right: 0;
	bottom: 0;
	left: 340px;

	border-radius: 10px;
}

.vault-entry button:hover {
	background: #8B233C;
}

.vault-add-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
}

.Add-Popup-Title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	margin: 0;
	font-size: 24px;
	font-weight: bold;
	background: #424e70;
	padding: 10px 10px;
	border-top-left-radius: 32px;
	border-top-right-radius: 32px;
	width: 100%;
	box-sizing: border-box;
}

.Add-Popup-Title button {
	position: absolute;
	right: 20px;
	top: 35px;
	height: 50px;
	width: 50px;
	font-size: 20px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#Popup-Content {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 15px;
	padding: 20px;
}

.form-row {
	display: flex;
	align-items: center;
	gap: 20px;
}

.form-row label {
	width: 100px;
	align-items: left;
}

.form-row textarea {
	width: 300px;
	height: 120px;
	box-sizing: border-box;
	resize: none;
	margin-top: 10px;
}

.form-row input {
	width: 300px;
	height: 40px;
	box-sizing: border-box;
}
